@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
    font-family: 'Android';
    src: url('../fontes/IDroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;    
    --cor2: #3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;                                                         
    --fonte-padrao:'arial, verdana, helvetica, sans-serif';
    --fonte-destaque: 'bebas neue', 'cursive'; 
    --font-android: 'Android', 'cursive';
}

*{
    margin:0;
    padding:0;
}

body {
    background-color:var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: ' \00a0\1f517';
    font-size: 0.8em;   
    vertical-align: super;
}
 header {
    background-image: linear-gradient(to bottom right, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);   
}
 header > h1 {
    color:white;
    font-family: var(--fonte-padrao);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: #0107015b 9px 7px 4px;
    
 }    
    header p { 
        font-family: var(--fonte-padrao);
        font-size: 1.2em; 
        color: white;
        max-width: 600px; 
        padding-right: 10px;
        padding-left: 10px;
        margin: auto; 
        margin-bottom: 30px;
        text-shadow: #0107015b 9px 7px 4px;
    }  
    
    nav {   
    background-color: var(--cor5);
    padding: 1px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    }

    nav > a {
        color:  var(--cor1);
        font-family: var(--fonte-padrao);
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition-duration: 0.5s;

    }
    nav > a:hover {
        background-color: var(--cor3);
        color: var( --cor5);
        transition: 0.3s;

    }   
    main {
        min-width: 300px;
        max-width: 1000px;
        margin: auto;
        margin-bottom: 30px; 
        padding: 20px;  
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.418); 
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;  
    }

    main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.6;    
}  

main strong {
    color: var(--cor3);
    font-weight: bold;
}
 main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor1);
    padding: 2px 6px;
 }
  main a:hover {
    background-color: var(--cor3);
    color: white;
    transition: 0.3s; 
}     

 main h1 {
    color:var(--cor5);
    font-family: var(--font-android);
    font-size: 1.8em;
    font-weight: normal;
 }

 main h2 {
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
   background-image: linear-gradient(to right,var(--cor1), transparent);   
 }  

 main img {
    
    max-width: 100%;    
    height: auto;
 }
  main img.pequena {
    max-width: 350%;
    display: block;   
    margin: auto;
    }

    div.video {
        background-color: var(--cor4);
        margin: 0px -20px 30px -20px;
        padding: 20px;
        padding-bottom: 57%;
        position: relative;
    }
    div.video iframe {
        position: absolute;
        top: 20px;
        left: 50px;
        width: 90%;
        height: 90%;
       
    }      

    aside {
        background-color: var(--cor1);
        padding: 10px;
        margin: 20px 0px;
        border-radius: 10px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.288);
    }  
    aside h3 {
        background-color: var(--cor3);
        color:white;
        padding: 10px;
        margin: -10px -10px 0px -10px;
        border-radius: 5px;
        text-align: center;
    }   
    aside > ul {
        list-style-type: '\2714\00a0\00a0';
        margin-left: 20px;
        columns: 2;
    } 

    footer {
        background-color: var(--cor5);
        color: white;
        text-align: center;
        font-size: 0.8em;
        padding: 5px;
    }
    footer p {
        margin: 5px;
        font-size: 1.2em;
    } 
    footer a {
        color:white;
        text-decoration: none;
        font-weight: bold;
    }  
    footer a:hover {
        text-decoration: underline;
        color: var(--cor1);
    }      